#auth_page{
    width: 54%!important;
    display:"inline-block";
}
.login-aside1{
    width: 45%!important;
    display:"inline-block";
    background-image: url(https://cdn.image.kfbuy.com/kfbuy1595387544024);
}
.login_text_title{
    font-size: 48px!important;
    text-align: center;
}
.login_text_dec{
     font-size: 18px;
     text-align: center;
}