button.btn-login {
    background-color: #e20077;
    color:white;
    width: 100%;
}
button.btn-login:hover {
    background-color: #c10047;
    color:white;
}button.btn-login-google {
    background-color: white;
    color:black;
    width: 100%;
    border: 1px solid rgb(192, 188, 188);
}
button.btn-login-google:hover {
    border: 1px solid black;
}